body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.home-hero__background {
  top: 70px;
}
.home-hero__background {
  /* position: absolute; */
  width: 100%;
  height: 840px;
  background-size: 1685px;
  background-position: center bottom;
  background-repeat: no-repeat;
  left: 0;
  top: 300px;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translate(0);
}

[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="700"], body[data-aos-duration="700"] [data-aos] {
  transition-duration: .7s;
}
[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity,transform;
}
.c-5 {
  width: 40%;
}
.c-7 {
  width: 57.14286%;
} 
.padded-top-large {
  padding-top: 6rem;
}
.text-center {
  text-align: center;
}
.cta, .padded-both-large {
  padding-bottom: 6rem;
}
.content-8 {
  padding-right: 17.14286%;
  padding-left: 17.14286%;
}
.text-content .text-white, .text-white {
  color: #fcfcfc;
}
.text-content h3 {
  font-size: 32px;
  font-weight: 500;
  color: #131530;
  line-height: 1.6;
}
.text-content h3 {
  font: bold 1.95312em "Saira Condensed";
  margin-bottom: .5em;
  line-height: 1.2;
}
.text-content p:last-child {
  margin-bottom: 0;
}
.text-content p {
  line-height: 1.8;
}
.banded-dark {
  background-color: #131530;
}
.blue-bottom-left {
  position: relative;
}

